<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="header_logo">
        <div>{{replaceunserscore(catName) | titlecase}}</div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><!--<ion-icon name="search"></ion-icon>--></ion-button>
      <ion-button routerLink="/menu/cart">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cart" class="badge">{{cartCount}}</ion-badge>
      </ion-button>
      <ion-button routerLink="menu/wishlist">
        <ion-icon name="heart-empty"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="items?.length" class="product_filter" style="border-bottom: 5px solid #eee; background: #fff;    padding: 0px 0px;"> 
    
    <!--<div class="Filter_btn" *ngIf="!expfilter" (click)="expFilter()">
      <a><ion-img src="assets/images/delivery-fast-red.png" style="width:12px;margin-right: 5px;"></ion-img> Express</a>
    </div>
    <div class="Filter_btn filter-active" *ngIf="expfilter" (click)="expFilter()">
      <a><ion-img src="assets/images/delivery-fast-selected.png" style="width:12px;margin-right: 5px;"></ion-img> Express</a>
    </div>-->
    <div class="" style="display:flex;"> 
        <ion-img (click)="showGrid()" [hidden]="showGridIcon" src="assets/images/grid.png" style="margin-right: 5px;border-bottom: 0px solid #eee;margin-left: 15px;"></ion-img>
        <ion-img (click)="showList()" [hidden]="showListIcon" src="assets/images/list.png" style="margin-right: 5px;border-bottom: 0px solid #eee; margin-left: 15px;"></ion-img>
    </div>
    <div class="">{{items.length}} Item</div>
    <div class="Filter_btn filter-active" *ngIf="filterapplied" (click)="presentFilterModal()"> <a>
      <ion-img src="assets/images/filter-selected.png" style="width:12px;margin-right: 5px;"></ion-img>
      Filter <span>({{filterapplied}})</span></a> </div>
    <div class="Filter_btn" *ngIf="!filterapplied" (click)="presentFilterModal()" style="border-left: 1px solid #eee;
    width: 100px;
    text-align: center;"> <a style="padding-top: 5px;">
      <ion-img src="assets/images/filter.png" style="width:12px;margin-right: 5px;"></ion-img>
      Filter</a> </div>
  </div>
  <ion-grid class="newitem" *ngIf="items" [hidden]="listHidden">
    <ion-row *ngFor="let cat of items; let i = index">
      <ion-col size="4" [routerLink]="['/menu/singleitem',replacespace(cat.product_slug),cat.catid,cat.id]">
        <ion-img [src]="cat.image?cat.image:'assets/images/product_1.jpg'" alt="" style="height: 120px;"></ion-img>
      </ion-col>
      <ion-col size="8" [routerLink]="['/menu/singleitem',replacespace(cat.product_slug),cat.catid,cat.id]">
        <div class="product_title" style="line-height: 14px; margin-top: 15px;"> <a >{{ cat.pname }}<br />
          <br />
          <span style="font-size:16px;font-weight:bold;">&#8377; {{ cat.display_price }}</span> &nbsp;&nbsp; 
          <span *ngIf="cat.discount!=0" style="font-size:12px;font-weight:bold;color: #999;text-decoration: line-through;" >&#8377; {{ cat.mrp_price }}</span> &nbsp;&nbsp; 
          <span *ngIf="cat.discount!=0" style="font-size:12px;font-weight:bold;color: #2aad4c;">{{ cat.discount }}% OFF</span> </a> </div>
        <!-- <div class="form-group pt-2">
        	<ion-select [interfaceOptions]="customPopoverOptions" class="form-control" interface="popover" placeholder="Select One" (ionChange)="onSelectChange(cat, i, $event)" style="max-width:200px;">
            	<ion-select-option selected>1</ion-select-option>
                <ion-select-option>2</ion-select-option>
                <ion-select-option>3</ion-select-option>
                <ion-select-option>4</ion-select-option>
                <ion-select-option>5</ion-select-option>
                <ion-select-option>6</ion-select-option>
                
			      <!--<ion-select-option *ngFor="let qty of cat.quantity;let i=index">{{ i }}</ion-select-option>--
			</ion-select>
        </div>--> 
        
        <!--<div class="product_price" *ngIf="cat?.rate.length"><span class="cut">&#8377;{{cat.rate[0].MrpRate}}</span>&#8377;{{cat.rate[0].SaleRate}}</div>--> 
        
        <!-- <div class="product_button ml-auto mr-auto trans_200">
          <ion-button *ngIf="cat?.selected?.IsAddedToCart" style="--background: #b1b1b1;" routerLink="/menu/cart">view cart</ion-button>
          <ion-button *ngIf="this.CustomerLoginId" (click)="moveToCart(cat)">add to cart</ion-button>
          <ion-button *ngIf="!this.CustomerLoginId" routerLink="/login">add to cart</ion-button>
        </div>--> 
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="newitem" *ngIf="items" [hidden]="gridHidden">
    <ion-row >
      <ion-col size='6' *ngFor="let cat of items; let i = index">
        <ion-col size="12" [routerLink]="['/menu/singleitem',replacespace(cat.product_slug),cat.catid,cat.id]">
          <ion-img [src]="cat.image?cat.image:'assets/images/product_1.jpg'" alt="" style="height: 120px;"></ion-img>
        </ion-col>
        <ion-col size="12" [routerLink]="['/menu/singleitem',replacespace(cat.product_slug),cat.catid,cat.id]">
          <div class="product_title" style="line-height: 14px; margin-top: 15px;"> <a >{{ cat.pname }}<br />
            <br />
            <span style="font-size:16px;font-weight:bold;">&#8377; {{ cat.display_price }}</span> &nbsp;&nbsp; 
            <span *ngIf="cat.discount!=0" style="font-size:12px;font-weight:bold;color: #999;text-decoration: line-through;" >&#8377; {{ cat.mrp_price }}</span> &nbsp;&nbsp; 
            <span *ngIf="cat.discount!=0" style="font-size:12px;font-weight:bold;color: #2aad4c;">{{ cat.discount }}% OFF</span> </a> </div>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="empty-cart" *ngIf="items?.length == 0">
    <ion-img src="/assets/images/nodata.png"></ion-img>
    <h4>No Results Found !!</h4>
    <div class="text">Explore our ever growing selection of products and exciting new offers today!</div>
  </div>
  <ion-grid *ngIf="!items">
    <ion-row *ngFor="let data of ' '.repeat(10).split('')">
      <ion-col size="4">
        <ion-skeleton-text animated style="width: 100%;height: 80px;"></ion-skeleton-text>
      </ion-col>
      <ion-col size="8">
        <ion-skeleton-text animated style="width: 0%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
