<ion-header>
  <ion-toolbar class="header">
  	<ion-buttons slot="start">
	    <ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>
    	<div class="header_logo">
      	<div>My Order</div>
    	</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
	<ion-grid>
		<ion-row>
			<ion-col size='12'>
				<div class="order" *ngFor="let data of orderHis" [routerLink]="['/menu/orderhistory',data.orderid]">
					<p class="no">Order No:{{data.orderid}} <ion-img class="fwd" src="/assets/images/fwd.svg"></ion-img></p>
					<p>{{data.name}}</p>
					<p class="other">&#8377; {{data.total_price}}</p>
					<p class="other">{{data.orderdate | date:'MMM dd, yy'}}</p>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>

