.displayhead{
	font-size: medium;
	font-weight: bold;
	background: aliceblue;
	padding: 10px;
	float: left;
    margin-bottom: 15px;
}
.displayhead .left{
	float:left;
	width: 130px;
    padding: 5px;
    background : #ec2664;
    color:#fff;
    border-radius:5px;
}
.displayhead .right{
	float: right;
    width: 170px;
    padding: 5px;
    background : #ec2664;
    color:#fff;
    border-radius:5px;
}
