<ion-header>
	<ion-toolbar class="header">
		<ion-buttons slot="start">
		  <!--<ion-back-button></ion-back-button>-->
		  <!-- <ion-menu-button></ion-menu-button> -->
		  <ion-back-button defaultHref="menu/tabs/tab2"></ion-back-button>
		</ion-buttons>
	  <ion-title>
		  <div class="header_logo">
			<div>Make Money</div>
		  </div>
	  </ion-title>
	  <ion-buttons slot="end">
		  <ion-button><ion-icon name="search"></ion-icon></ion-button>
		  <ion-button routerLink="/menu/cart">
			  <ion-icon name="cart"></ion-icon>
			<ion-badge *ngIf="cart" class="badge">{{cartCount}}</ion-badge>
		  </ion-button>
		</ion-buttons>
	</ion-toolbar>
  </ion-header>

<ion-content>
	<div *ngIf="status==1" style="padding: 20px;text-align:center;">
		<p style="font-size: 17px;
		background-color: #f8f8f8;
		padding: 30px 15px;
		border-radius: 10px;
		border: 1px solid #e8e8e8;">You need to have atleast 1 active Rexa Wallet Card to Make Money via Referral
aar Buy Card button</p>
		<button class="fbtn" style="width: 190px;
		border-radius: 5px;
		white-space: normal;
		font-size: 14px;
		font-weight: 600;
		line-height: 35px;
		box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
		background-color: #da2936;
		color: #fff;
		border-color: rgba(255,255,255,0);
		outline-color: transparent;
		text-decoration: none;text-transform:uppercase;
	" (click)="goToCards()">Buy Rexa Card</button>
    </div>
    <div *ngIf="status==2" style="padding: 20px;text-align:center;">
		<p style="font-size: 17px;
		background-color: #f8f8f8;
		padding: 30px 15px;
		border-radius: 10px;
		border: 1px solid #e8e8e8;">You have bought Rexa Card. 
 Please go to My Wallet and activate your card to start Making Money via Referral</p>
 		<button class="fbtn" style="width: 190px;
		 border-radius: 5px;
		 white-space: normal;
		 font-size: 14px;
		 font-weight: 600;
		 line-height: 35px;
		 box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
		 background-color: #da2936;
		 color: #fff;
		 border-color: rgba(255,255,255,0);
		 outline-color: transparent;
		 text-decoration: none;text-transform:uppercase;" (click)="goToWallet()">My Wallet</button>
 	</div>
    <div *ngIf="status==3" style="padding: 20px;text-align:center;">
 		<p style="font-size: 17px;
		 background-color: #f8f8f8;
		 padding: 30px 15px;
		 border-radius: 10px;
		 border: 1px solid #e8e8e8;">Below is your referral code. Copy and share with friends and get cashback.</p>
		
		<p style="width: 100%;text-align: center;border: 1px dashed #34c11b;padding: 5px 10px;
		color: #289a13;">{{ referenceCode }}</p>
		
		<div style="display:flex;width:100%;justify-content: center;">
            <div style="padding-top:10px;width:10%;display:inline-flex;">   
				<ion-icon name="md-share" style="font-size:26px;" (click)="shareviaWhatsapp()"></ion-icon>         
                <!-- <ion-icon name="logo-whatsapp" style="font-size:26px; color:#ec2664;"></ion-icon>              -->
            </div>
            <!-- <div style="padding-top:10px;width:10%;display:inline-flex;" (click)="shareviaFacebook()">             
                <ion-icon name="logo-facebook" style="font-size:26px; color:#ec2664;"></ion-icon>             
            </div> -->
            <!--<div style="padding-top:10px;width:10%;display:inline-flex;margin-left:10px;" (click)="shareviaTwitter()">       
				<ion-img style="width: 30px;height: 30px;" src="assets/images/twitter.png"></ion-img>      
                 <ion-icon name="logo-twitter" style="font-size:26px; color:#ec2664;"></ion-icon>              
            </div>-->
       	</div>

	</div>
</ion-content>
