.header{
    padding-right: 10px;
}
.links{
	border-top:1px solid #CCC;
}
.links ion-icon{
	margin-right: 10px;
    vertical-align: text-bottom;
}
.links ion-col{
	border-bottom:1px solid #CCC;
	padding:15px 0px;

}
