<ion-header>
  <ion-toolbar class="header">
  	<ion-buttons slot="start">
	   <ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>
    	<div class="header_logo">
        <div>{{replaceunserscore(catName) | titlecase}}</div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
	    <!--<ion-button><ion-icon name="search"></ion-icon></ion-button>-->
	    <ion-button routerLink="/menu/cart">
	    	<ion-icon name="cart"></ion-icon>
      	<ion-badge *ngIf="cart" class="badge">{{cartCount}}</ion-badge>
	    </ion-button>
	    <ion-button routerLink="/menu/wishlist"><ion-icon name="list"></ion-icon></ion-button>
	  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-grid *ngIf="subcatdata">
    <ion-row>
      <ion-col size='6' *ngFor="let cat of subcatdata" [routerLink]="['/menu/singlecatitems',replacespace(cat.subcatname),cat.id,catdata.id]">
        <div class="box">
          <div class="box_image"><ion-img [src]="cat.image?cat.image:'assets/images/box_1.jpg'" alt="" style="height: 123px;"></ion-img></div>
          <div class="box_title trans_200" style="text-align: center;"><a href="categories.html">{{cat.subcatname | titlecase}}</a></div>
        </div>
      </ion-col>
    </ion-row>
    <!--<ion-infinite-scroll threshold="100px" *ngIf="subcatdata && subcatdata.TotalRowsList[0].RemainingRecords" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
  </ion-grid>
  <ion-grid *ngIf="!subcatdata">
    <ion-row>
      <ion-col size="6" *ngFor="let data of ' '.repeat(12).split('')">
        <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<div class="empty-cart" *ngIf="subcatdata.length == 0">
    <ion-img src="/assets/images/nodata.png"></ion-img>
    <h4>No Results Found !!</h4>
    <div class="text">Explore our ever growing selection of products and exciting new offers today!</div>
  </div>-->
</ion-content>