<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="tab1">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>ARRIVALS</ion-label>
    </ion-tab-button>-->

    <!-- <ion-tab-button tab="profile" *ngIf="this.CustomerLoginId">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFLE</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!this.CustomerLoginId" routerLink="/login">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4" *ngIf="this.CustomerLoginId">
      <ion-icon name="cash"></ion-icon>
      <ion-label>MAKE MONEY</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/login" *ngIf="!this.CustomerLoginId">
      <ion-icon name="cash"></ion-icon>
      <ion-label>MAKE MONEY</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/login" *ngIf="!this.CustomerLoginId">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-label>WISHLIST</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wishlist" *ngIf="this.CustomerLoginId">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-label>WISHLIST</ion-label>
    </ion-tab-button>

<!-- 
    <ion-tab-button (click)="opensearch()">
      <ion-icon name="search"></ion-icon>
      <ion-label>SEARCH</ion-label>
    </ion-tab-button> -->

    <!--<ion-tab-button tab="tab4">
      <ion-icon name="gift"></ion-icon>
      <ion-label>OFFER</ion-label>
    </ion-tab-button>-->

    <!-- <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button> -->

  


  </ion-tab-bar>
</ion-tabs>