p.heading{
	padding: 10px 15px;
    border-bottom: 1px solid #CCC;
    width: 100%;
    display: inherit;
    font-size: 16px;
    font-weight:bold;
}
ion-content
{
	background:#eee;
	padding: 10px 15px;
}