<ion-content>
	<div style="text-align: center;font-size: 20px;color: #3e3e3e;">
		<p>Cancel Order</p>
	</div>
	<div style="height: 69vh;overflow: auto;">
		<ion-list-header>
	    <ion-label style="margin: 0px;font-size: 18px;">Why do you want to cancel?</ion-label>
	  </ion-list-header>
        <ion-radio-group value="reason">
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">I needed earlier delivery</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                 <!--[(ngModel)]="data.checked" (ionChange)="incordec(data.checked)"-->
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">I was trying out grofers</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">Forgot to add/remove items</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">I don't need the products anymore</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">I needed earlier delivery</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">Not available to receive orders</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label style="margin: 0px">
                    <ion-grid>
                        <ion-row>
                            <b class="font-weight-bold">I selected the wrong address</b>
                        </ion-row>
                    </ion-grid>
                </ion-label>
                <ion-radio slot="start"></ion-radio>
            </ion-item>
        </ion-radio-group>
	</div>
  <div class="cancel-btn">
  	<ion-button color="cprimary" fill="outline" (click)="cancel()" style="width: 200px;text-transform: none;">Cancel Order</ion-button>
  </div>
</ion-content>
