<ion-header>
  <ion-toolbar class="header">
  	<ion-buttons slot="start">
	    <ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>
    	<div class="header_logo">
      	<div>Profile</div>
    	</div>
    </ion-title>
    <ion-buttons slot="end">
	    <ion-button routerLink="/menu/cart">
	    	<ion-icon name="cart"></ion-icon>
      	<ion-badge *ngIf="cart" class="badge">{{cartCount}}</ion-badge>
	    </ion-button>
	  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile">
	<ion-grid>
		<ion-row style="justify-content: center;">
			<ion-col size='6' style="text-align: center;">
				<ion-img class="pimg" [src]="image?image:'/assets/images/user-black.png'"></ion-img>
				<p class="name">{{name}}</p>
				<p class="no">{{no}}</p>
			</ion-col>
			<ion-icon class="edit" name="create" routerLink="/menu/editprofile"></ion-icon>
		</ion-row>
	</ion-grid>
	<ion-grid class="links">
		<ion-row>
			<ion-col size="12" routerLink="/menu/editprofile">				
  				<ion-icon name="contact"></ion-icon>
  				<ion-label style="color:#000;">Profile Info</ion-label>    			
			</ion-col>	
			<ion-col size="12" routerLink="/menu/wallet">				
  				<ion-icon name="wallet"></ion-icon>
  				<ion-label style="color:#000;">My Wallet</ion-label>    			
			</ion-col>
			<!--<ion-col size="12" routerLink="/menu/topup/add">				
  				<ion-icon name="add-circle"></ion-icon>
  				<ion-label>Wallet Top-Up</ion-label>    			
			</ion-col>
			<ion-col size="12" routerLink="/menu/milktopup">				
  				<ion-icon name="add-circle"></ion-icon>
  				<ion-label>Milk Top-Up</ion-label>    			
			</ion-col>
			<ion-col size="12" routerLink="/menu/wallet-upgrade/add">				
  				<ion-icon name="card"></ion-icon>
  				<ion-label>Rexa Upgrade Card</ion-label>    			
			</ion-col>-->
			<ion-col size="12" routerLink="/menu/orderlist">				
  				<ion-icon name="cart"></ion-icon>
  				<ion-label style="color:#000;">My Order</ion-label>    			
			</ion-col>
            <ion-col size="12" routerLink="/menu/milktopup">				
  				<ion-icon name="cart"></ion-icon>
  				<ion-label style="color:#000;">Milk Top-Up</ion-label>    			
			</ion-col>
			<ion-col size="12" routerLink="/menu/wishlist">				
  				<ion-icon name="heart-empty"></ion-icon>
  				<ion-label>WishList</ion-label>    			
			</ion-col>
			<ion-col size="12" routerLink="/menu/tabs/referral">				
  				<ion-icon name="pricetags"></ion-icon>
  				<ion-label>Make Money</ion-label>    			
			</ion-col>
			<ion-col size="12" (click)=logOut()>				
  				<ion-icon name="exit"></ion-icon>
  				<ion-label style="color:#000;">Logout</ion-label>    			
			</ion-col>
		</ion-row>
	</ion-grid>		
	<!--<div>
		<ion-button color="success" routerLink="/referral">Referral</ion-button>
		<ion-button color="success" routerLink="/forgotpass">Change Password</ion-button>
	</div>	
	<div *ngIf="add" style="border-bottom:solid 1px #ccc; padding-bottom: 10px;">
		<p class="heading">Address<a routerLink="/menu/alladd" class="manageadd"><ion-icon name="create"></ion-icon></a></p>
		<p style="padding-left: 10px;">{{add.AddressValue}}</p>
		<p style="padding-left: 10px;">{{add.CityName}}, {{add.ShortNameState}}, {{add.ShortNameCountry}}</p>
		<p style="padding-left: 10px;">PIN: {{add.PostCode}}</p>
	</div>
	<div style="border-bottom:solid 1px #ccc;">
		<p class="heading">Order History</p>
		<div class="order" *ngFor="let data of orderHis" [routerLink]="['/menu/orderhistory',data.orderno]">
			<p class="no">Order No:{{data.orderno}} <ion-img class="fwd" src="/assets/images/fwd.svg"></ion-img></p>
			<p>{{data.name}}</p>
			<p class="other">&#8377; {{data.totalprice}}</p>
			<p class="other">{{data.date | date:'MMM dd, yy'}}</p>
		</div>
	</div>-->
</ion-content>
