<ion-header>
  <ion-toolbar class="header">
  	<ion-buttons slot="start">
	    <ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>
    	<div class="header_logo">
        <div>{{data.name | titlecase}}</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="data">
  	<div class="product_content">
      <div class="product_title"><a>{{data.name | titlecase}}</a></div>
      <div class="product_price"><span style="    font-size: 20px;
        color: #000;
        font-weight: bold;
        margin-left: 0px;">&#8377; {{data.price}}</span></div>
    </div>
    <ion-img (ionError)="error()" style="height: 250px;margin: 10px 0;" [src]="data.front_image"></ion-img>  
    <hr>
    <ion-item>
      <ion-label>Select Topup</ion-label>
      <br>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="topupid" id="topupid" name="topupid" #damt="ngModel" class="input1" interface="action-sheet" placeholder="Select" style="padding: 15px 10px;">
        <ion-select-option [value]="data.id" *ngFor="let data of topuplist">{{data.catname}}</ion-select-option>
      </ion-select>
    </ion-item>    
    <div class="product_button ml-auto mr-auto trans_200" style="text-align:center;">
      <ion-button (click)=buy() style="width: 170px;
      border-radius: 5px;
      white-space: normal;
      font-size: 16px;
      font-weight: 600;
      line-height: 35px;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
      background-color: #da2936;
      color: #fff;
      border-color: rgba(255,255,255,0);
      outline-color: transparent;
      text-decoration: none;
      height: 44px;
      margin-top: 15px;">Buy Now</ion-button>
    </div>
    <hr>
    
    <p [innerHTML]="data.description"></p>  
   
  </div>
  <div *ngIf="!data">
    <div class="product_content">
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
    </div>
    <ion-skeleton-text animated style="width: 100%;height: 250px;"></ion-skeleton-text>    
    <ion-skeleton-text animated style="width: 100%;height:20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>    
    <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
  </div>
</ion-content>

<ion-footer *ngIf="data">
  <ion-toolbar>
    <!--<div style="display: inline-flex;width: 100%;">
      <div class="fbtn white" style="padding: 8px;" *ngIf="data?.selected.IsAddedToCart">
        <div class="final_amt"> &#8377;{{totalsaleprice}}</div>
        <div class="toatl_save">Saved &#8377;{{totalmrpprice - totalsaleprice | number:'0.0-2'}}</div>
      </div>
      
      <button *ngIf="!data?.selected.IsAddedToWishList && !data?.selected.IsAddedToCart" class="fbtn white" (click)="presentIncdecModal(data,'wishlist')">Add to wishlist</button>
      <ion-button *ngIf="data?.selected.IsAddedToWishList" class="fbtn white">Added to wishlist</ion-button>
      <ion-button *ngIf="data?.selected.IsAddedToCart" class="fbtn orange" routerLink="/menu/cart">View cart</ion-button>
      <ion-button *ngIf="!data?.selected.IsAddedToCart && this.CustomerLoginId" class="fbtn orange" (click)="data?.selected.IsAddedToWishList?moveToCart():presentIncdecModal(data,'cart')">Add to cart</ion-button>
      <ion-button *ngIf="!this.CustomerLoginId" routerLink="/login" class="fbtn orange">Add to cart</ion-button>
    </div>-->
  </ion-toolbar>
</ion-footer>