<ion-content class="ion-padding">
  <div class="d-flex login_page flex-column align-items-center justify-content-center ">
	  <div class="logo">
	    <img src="/assets/images/logo.png" style="width: 50%;background: #ed4834;">
	  </div>
	  <div class="checkout_form_container">
	    <form id="checkout_form" class="checkout_form" #loginForm="ngForm">
	    	<ion-grid>
	    		<ion-row>
	    			<ion-col size="12">
	    				<ion-label class="label1">Enter Email</ion-label>
	  					<ion-input type="email" [(ngModel)]="model.email" [readonly]="otpres" name="email" required id="email" #email="ngModel" class="input1"></ion-input>
	    			</ion-col>
	    			<!--<ion-col size="12" *ngIf="otpres">
	    				<ion-label class="label1">OTP</ion-label>
	  					<ion-input type="tel" [(ngModel)]="model.otp" [disabled]="otpverified" name="otp" required id="otp" #otp="ngModel" class="input1"></ion-input>
	    			</ion-col>
	    			<ion-col size="12" *ngIf="otpverified">
	    				<ion-label class="label1">Enter new password</ion-label>
	  					<ion-input type="password" [(ngModel)]="model.password" name="password" required id="password" #password="ngModel" class="input1"></ion-input>
	    			</ion-col>-->
	    			<ion-col size="12" *ngIf="!otpres">
							
							<button class="ion-button1" (click)="getOtp()" type="submit" expand="full" fill="outline">Submit</button>
	    			</ion-col>
	    			<!--<ion-col size="12" *ngIf="otpres && !otpverified">
							<ion-button class="btn1" (click)="verifyOtp()" expand="full" fill="outline" [disabled]="!model.otp">verify otp</ion-button>
							
	    			</ion-col>
	    			<ion-col size="12" *ngIf="otpres && otpverified">
	    				<ion-button class="btn1" (click)="resetpassword()" expand="full" fill="outline" [disabled]="!model.password">Reset password</ion-button>
	    			</ion-col>-->
	    		</ion-row>
	    	</ion-grid>
	    </form>
	  </div>
	</div>
</ion-content>
