ion-checkbox{
    margin-top: 15px;
    margin-right: 10px;
    display: block;
    float: left;
}
ion-radio-group div ion-label{
    margin-top: 5px !important;
}
ion-radio-group div ion-radio{
    margin-top: 3px;
}